<!-- <img src="/Images/lisbethSalander.gif" alt="Lisbeth Salander">
<h1>Lisbeth Salander</h1>
<p>from</p>
<h3>The Girl with the Dragon Tattoo, The Girl who Played with Fire, The Girl who Kicked the Hornet's Nest</h3>
<p>written by</p>
<h3>Stiegg Larsson</h3>
<p>List of Accomplishments:</p>
<ul>
  <li>Accomplished self-taught computer hacker</li>
  <li>Photographic memory</li>
  <li>Savant</li>
  <li>Uses small stature for manueverability</li>
  <li>Resilient af</li>
  <li>LGBT icon</li>
</ul><br>
<p>Flaws:</p>
<ul>
  <li>Cold and withdrawn</li>
  <li>Impulsive</li>
  <li>Not a great communicator</li>
</ul> -->
